body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background : url('./bg.jpg');
  }

#name-container{
    display: flex;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: rgb(33, 29, 29);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


#name-input{
    margin-left: 15px;
}


#send-name{
   /* Set a style for the submit button */
    background-color: blanchedalmond;
    padding: 6px 6px 6px 6px;
    margin-top: 50px;
    margin-left: 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

#typing{
  position: fixed;
  height: auto;
  bottom: 70px;
  margin-left: 90px;
  width: 100%;
}

  #message-container {
    width: 80%;
    max-width: 1200px;
    max-height: 480px;
    overflow-y: auto;
  }

  #message-container div {
    padding: 5px;
    background-color: aquamarine;
    /*margin-left: 140px;*/
    margin-top: 20px;
    width: 90%;
  }

  #message-container div:nth-child(2n) {
    background-color: blanchedalmond;
    /*margin-left: -80px;*/
    width: 90%;
  }

  #send-container {
    position: fixed;
    height: 100px;
    bottom: 0px;
    left: 0;
    width: 100%;
    display: flex;
   justify-content: center;
   align-items: center;
  }

  #message-input {
      height:35px; 
      width:80%;
      margin-left: 15px;
      word-wrap: break-word; 
      margin: 5px;

  }

  #send-button{
    background-color: rgb(91, 187, 252);
    height:35px; 
    width:50px;
    cursor: pointer;
  }